<header class="shadow">
	<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
		<div class="container">
			<a class="navbar-brand" routerLink="/">Mini E-Ticaret</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
					<a aria-current="page" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link">Anasayfa</a>
					<a aria-current="page" routerLinkActive="active" routerLink="/products" class="nav-item nav-link">Ürünler</a>
					<a aria-current="page" routerLinkActive="active" routerLink="/basket" class="nav-item nav-link">Sepet</a>
					<a *ngIf="!authService.isAuthenticated" aria-current="page" routerLinkActive="active" routerLink="/login" class="nav-item nav-link ms-lg-auto">Giriş Yap</a>
					<a *ngIf="!authService.isAuthenticated" aria-current="page" routerLinkActive="active" routerLink="/register" class="nav-item nav-link">Kayıt Ol</a>
					<a *ngIf="authService.isAuthenticated" role="button" (click)="logOut()" aria-current="page" routerLinkActive="active" class="nav-item nav-link ms-lg-auto">Çıkış Yap</a>
					<button *ngIf="authService.isAuthenticated" role="link" type="button" routerLink="/admin" class="nav-item btn btn-sm btn-light px-4 ms-4">Yönetim Paneli</button>
				</div>
			</div>
		</div>
	</nav>
</header>

<router-outlet></router-outlet>

<ngx-spinner name="ball-scale-pulse" size="medium" type="ball-scale-pulse"></ngx-spinner>
<ngx-spinner name="ball-clip-rotate-pulse" size="medium" type="ball-clip-rotate-pulse"></ngx-spinner>
<ngx-spinner name="ball-scale-ripple-multiple" size="medium" type="ball-scale-ripple-multiple"></ngx-spinner>