<mat-list role="list">
	<a mat-list-item routerLink="/admin">
		<i matListItemIcon><mat-icon>home</mat-icon></i>
		Dashboard
	</a>

	<a mat-list-item routerLink="/">
		<i matListItemIcon><mat-icon>language</mat-icon></i>
		Web Site
	</a>

	<hr />

	<a mat-list-item routerLink="/admin/customers">
		<i matListItemIcon><mat-icon>groups</mat-icon></i>
		Customers
	</a>

	<a mat-list-item routerLink="/admin/orders">
		<i matListItemIcon><mat-icon>star</mat-icon></i>
		Orders
	</a>

	<a mat-list-item routerLink="/admin/products">
		<i matListItemIcon><mat-icon>search</mat-icon></i>
		Products
	</a>
</mat-list>